

#daly{
     border-radius: 3px;
     margin-right: 7px;
     padding: 5px;
     background-color:rgb(225, 100, 78);
     font-weight: 600;
     color: #fff;
}

#news{
     font-weight: 500;
}

.text{
     text-decoration: none;
     color: rgb(96, 91, 91);
     font-size: 16px;
     font-weight: 400;
     display: block;
}